# Ignore everything in this directory and subdirectories
*

# Un-ignore the README.md file
!README.md

# (Recommended) Un-ignore the .gitignore file itself so your rules are saved in the repo
!.gitignore